# Virtual Environment
.venv/

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Logs
logs/

# Outputs
outputs/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Runtime / Generated Data
data/
backend/storage/
ai/database/data/

# Frontend
frontend/node_modules/
frontend/dist/

# Environment Variables
backend/.env